[Unit]
Description=dragino Basic Station
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=30
WorkingDirectory=/etc/station
ExecStart=station -L /var/log/station.log
ExecStopPost=station -k

[Install]
WantedBy=multi-user.target
